## EXPIRES CACHING ##

<IfModule mod_expires.c>

ExpiresActive On

ExpiresByType image/jpg "access 1 year"

ExpiresByType image/jpeg "access 1 year"

ExpiresByType image/gif "access 1 year"

ExpiresByType image/png "access 1 year"

ExpiresByType text/css "access 1 month"

ExpiresByType text/html "access 1 month"

ExpiresByType application/pdf "access 1 month"

ExpiresByType text/x-javascript "access 1 month"

ExpiresByType application/x-shockwave-flash "access 1 month"

ExpiresByType image/x-icon "access 1 year"

ExpiresDefault "access 1 month"

</IfModule>

## EXPIRES CACHING ##



# 1 Month for most static assets

<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">

Header set Vary "Accept-Encoding"

Header set Cache-Control "max-age=2592000, public"

</filesMatch>



<FilesMatch "\.(html?|txt|css|js|php|pl)$">

    SetOutputFilter DEFLATE

 </FilesMatch>


ErrorDocument 404 /404.html

RewriteEngine On
RewriteCond %{HTTP_HOST} www.a1selidbe.rs
RewriteRule ^(.*) https://a1selidbe.rs/$1 [L,R=301]
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{THE_REQUEST} /index\.html? [NC]
RewriteRule ^(.*/)?index\.html?$ /$1 [R=301,L]


# Preusmeravanje svih URL-ova sa "wp-content" na 404
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/wp-content/ [NC]
RewriteRule ^.*$ - [R=404,L]

#Redirekcije za php stranice koje se prikazuju u SERP
Redirect 301 /5-faktora-o-kojima-treba-misliti-tokom-selidbe-klavira.php https://a1selidbe.rs/5-faktora-o-kojima-treba-misliti-tokom-selidbe-klavira.html
Redirect 301 /alati-koje-traba-da-imate-kada-se-selite.php https://a1selidbe.rs/alati-koje-traba-da-imate-kada-se-selite.html
Redirect 301 /bezbedno-slaganje-stvari-u-kamionu-blog.php https://a1selidbe.rs/bezbedno-slaganje-stvari-u-kamionu-blog.html
Redirect 301 /dobro-je-znati.php https://a1selidbe.rs//dobro-je-znati.html
Redirect 301 /dostava-namestaja-ikea.php https://a1selidbe.rs//dostava-namestaja-ikea.html
Redirect 301 /kako-izabrati-pouzdanu-agenciju-za-selidbe-u-beogradu.php https://a1selidbe.rs/kako-izabrati-pouzdanu-agenciju-za-selidbe-u-beogradu.html
Redirect 301 /kako-olaksati-selidbu-deci.php https://a1selidbe.rs/kako-olaksati-selidbu-deci.html
Redirect 301 /kako-se-nositi-sa-snegom-na-dan-selidbe.php https://a1selidbe.rs/kako-se-nositi-sa-snegom-na-dan-selidbe.html
Redirect 301 /kako-smanjiti-stres-u-toku-selidbe.php https://a1selidbe.rs/kako-smanjiti-stres-u-toku-selidbe.html
Redirect 301 /kako-spakovati-teske-stvari-za-selidbu.php https://a1selidbe.rs/kako-spakovati-teske-stvari-za-selidbu.html
Redirect 301 /kljucni-saveti-za-pakovanje-i-premestanje-delikatnog-namestaja.php https://a1selidbe.rs/kljucni-saveti-za-pakovanje-i-premestanje-delikatnog-namestaja.html
Redirect 301 /kombi-prevoz-beograd.php https://a1selidbe.rs/kombi-prevoz-beograd.html
Redirect 301 /kombi-selidbe-beograd.php https://a1selidbe.rs/kombi-selidbe-beograd.html
Redirect 301 /kombi-selidbe-beograd-2.php https://a1selidbe.rs/kombi-selidbe-beograd-2.html
Redirect 301 /kombi-selidbe-beograd-efikasno-i-brzo-preseljenje-uz-pouzdanu-uslugu.php https://a1selidbe.rs/kombi-selidbe-beograd-efikasno-i-brzo-preseljenje-uz-pouzdanu-uslugu.html
Redirect 301 /pakovanje-stvari.php https://a1selidbe.rs/pakovanje-stvari.html
Redirect 301 /ponuda-za-selidbu-selidbe-cena.php https://a1selidbe.rs/ponuda-za-selidbu-selidbe-cena.html
Redirect 301 /priprema-selidbe-blog.php https://a1selidbe.rs/priprema-selidbe-blog.html
Redirect 301 /razlike-izmedju-selidbe-stana-i-selidbe-kancelarija-i-firmi.php https://a1selidbe.rs/razlike-izmedju-selidbe-stana-i-selidbe-kancelarija-i-firmi.html
Redirect 301 /samostalna-selidba-ili-iznajmiti-profesionalce.php https://a1selidbe.rs/samostalna-selidba-ili-iznajmiti-profesionalce.html
Redirect 301 /saveti-za-bezbednu-selidbu-vaseg-kompjutera.php https://a1selidbe.rs/saveti-za-bezbednu-selidbu-vaseg-kompjutera.html
Redirect 301 /saveti-za-nosenje-namestaja-blog.php https://a1selidbe.rs/saveti-za-nosenje-namestaja-blog.html
Redirect 301 /saveti-za-selidbu-antikviteta-blog.php https://a1selidbe.rs/saveti-za-selidbu-antikviteta-blog.html
Redirect 301 /saveti-za-selidbu-blog.php https://a1selidbe.rs/saveti-za-selidbu-blog.html
Redirect 301 /selidba-kucnih-biljaka.php https://a1selidbe.rs/selidba-kucnih-biljaka.html
Redirect 301 /selidba-ljubimaca-blog.php https://a1selidbe.rs/selidba-ljubimaca-blog.html
Redirect 301 /selidba-specijalnog-tereta.php https://a1selidbe.rs/selidba-specijalnog-tereta.html
Redirect 301 /selidba-u-sopstvenoj-reziji-blog.php https://a1selidbe.rs/selidba-u-sopstvenoj-reziji-blog.html
Redirect 301 /selidbe-akcije.php https://a1selidbe.rs/selidbe-akcije.html
Redirect 301 /selidbe-beograd.php https://a1selidbe.rs/selidbe-beograd.html
Redirect 301 /selidbe-beograd-cena.php https://a1selidbe.rs/selidbe-beograd-cena.html
Redirect 301 /selidbe-cene-beograd.php https://a1selidbe.rs/selidbe-cene-beograd.html
Redirect 301 /selidbe-cene-beograd-upitnik-kalkulator.php https://a1selidbe.rs/selidbe-cene-beograd-upitnik-kalkulator.html
Redirect 301 /selidbe-galerija-beograd-srbija.php https://a1selidbe.rs/selidbe-galerija-beograd-srbija.html
Redirect 301 /selidbe-inostranstvo.php https://a1selidbe.rs/selidbe-inostranstvo.html
Redirect 301 /selidbe-klavira.php https://a1selidbe.rs/selidbe-klavira.html
Redirect 301 /selidbe-kontakt-srbija-beograd.php https://a1selidbe.rs/selidbe-kontakt-srbija-beograd.html
Redirect 301 /selidbe-magacin.php https://a1selidbe.rs/selidbe-magacin.html
Redirect 301 /selidbe-novi-beograd.php https://a1selidbe.rs/selidbe-novi-beograd.html
Redirect 301 /selidbe-palilula.php https://a1selidbe.rs/selidbe-palilula.html
Redirect 301 /selidbe-poslovnih-prostora.php https://a1selidbe.rs/selidbe-poslovnih-prostora.html
Redirect 301 /selidbe-preporuke-beograd-srbija.php https://a1selidbe.rs/selidbe-preporuke-beograd-srbija.html
Redirect 301 /selidbe-profesionalni-radnici.php https://a1selidbe.rs/selidbe-profesionalni-radnici.html
Redirect 301 /selidbe-srbija.php https://a1selidbe.rs/selidbe-srbija.html
Redirect 301 /selidbe-tokom-letnjih-meseci.php https://a1selidbe.rs/selidbe-tokom-letnjih-meseci.html
Redirect 301 /selidbe-vozdovac.php https://a1selidbe.rs/selidbe-vozdovac.html
Redirect 301 /selidbe-vracar.php https://a1selidbe.rs/selidbe-vracar.html
Redirect 301 /selidbe-zemun.php https://a1selidbe.rs/selidbe-zemun.html
Redirect 301 /selidbe-zimi-zimske-selidbe.php https://a1selidbe.rs/selidbe-zimi-zimske-selidbe.html
Redirect 301 /selidbe-zvezdara-selidbe-mirijevo.php https://a1selidbe.rs/selidbe-zvezdara-selidbe-mirijevo.html
Redirect 301 /sta-ako-se-namestaj-ne-uklapa.php https://a1selidbe.rs/sta-ako-se-namestaj-ne-uklapa.html
Redirect 301 /sta-izbaciti-pre-preseljenja-kancelarija.php https://a1selidbe.rs/sta-izbaciti-pre-preseljenja-kancelarija.html
Redirect 301 /usluge-kombi-i-kamionski-prevoz.php https://a1selidbe.rs/usluge-kombi-i-kamionski-prevoz.html
Redirect 301 /usluge-montaza-i-demontaza-selidbe.php https://a1selidbe.rs/usluge-montaza-i-demontaza-selidbe.html
Redirect 301 /usluge-najam-radnika.php https://a1selidbe.rs/usluge-najam-radnika.html
Redirect 301 /usluge-odvoz-na-deponiju.php https://a1selidbe.rs/usluge-odvoz-na-deponiju.html
Redirect 301 /usluge-prodaja-kartonskih-kutija-selidbe.php https://a1selidbe.rs/usluge-prodaja-kartonskih-kutija-selidbe.html
Redirect 301 /usluge-selidbe-antikviteta.php https://a1selidbe.rs/usluge-selidbe-antikviteta.html
Redirect 301 /usluge-transport-prevoz-beograd-srbija.php https://a1selidbe.rs/usluge-transport-prevoz-beograd-srbija.html
Redirect 301 /vodic-u-8-koraka-o-tome-kako-mozete-bezbedno-spakovati-antikvitete.php https://a1selidbe.rs/vodic-u-8-koraka-o-tome-kako-mozete-bezbedno-spakovati-antikvitete.html
Redirect 301 /vodic-za-selidbe-starijih-gradjana-penzionera.php https://a1selidbe.rs/vodic-za-selidbe-starijih-gradjana-penzionera.html
Redirect 301 /zanimljive-cinjenice-o-selidbama-blog.php https://a1selidbe.rs/zanimljive-cinjenice-o-selidbama-blog.html
Redirect 301 /zasto-angazovati-a1-selidbe.php https://a1selidbe.rs/zasto-angazovati-a1-selidbe.html


Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"

Header always set X-Frame-Options DENY

Header always set Referrer-Policy "same-origin"

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>
